* {
  box-sizing: border-box;
}

body {
  min-width: 300px;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.description {
  text-align: center;
}
.all-notes {
  font-weight: bold;
  text-decoration: none;
  margin: 0.7rem;
  border: 1px solid #00c851;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 0.3rem;
  background: #00c851;
  cursor: pointer;
  color: #fff;
}

.all-notes:focus {
  outline: none;
}

.popup-title {
  /* border: 1px solid #dc3545; */
  padding: 0.4rem;
  border-radius: 0px 10px 10px 0px;
  background: #dc3545;
  color: white;
  width: fit-content;
  transition: all 0.2s ease-in-out;
  /* font-weight: bold; */
}
.popup-title:hover{
  transform: scale(1.05);
}
i {
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.mynote {
  padding: 1rem;
  position: relative;
  margin: 0 0.6rem 0.6rem 0.7rem;
  background-color: yellow;
  box-shadow: yellowgreen 1px 3px 5px;
  border-radius: 10px;
  max-width: 90vw;
}
.mynote-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}
.mynote::before {
  content: "";
  position: absolute;
  left: -16px;
  margin-right: 15px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent yellow transparent transparent;
  outline: black;
}
.mynotes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.headernote {
  background-color: rgb(255, 255, 82);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center;
}
.mynote-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mynote-title {
  margin-right: 1rem;
  overflow-wrap: break-word;
  max-width: 1300px;
  font-family: "Caveat", cursive;
}
.mynote-body {
  padding: 2%;
  overflow-wrap: break-word;
  font-family: "Caveat", cursive;
}
.mynote-date {
  padding: 0;
  margin-left: 1rem;
  overflow-wrap: break-word;
  font-family: "Caveat", cursive;
  float: right;
}
.mynote-url {
  padding: 0;
  overflow-wrap: break-word;
  font-family: "Caveat", cursive;
  color: blue;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
}

.pinned {
  color: red;
}
.pinned-container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  /* position: relative; */
  margin: 1rem 0;
  max-width: 600px;
}
.note-image {
  max-width: 75vw;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.hidden {
  display: none;
}
