* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background: url("../background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#notebox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.newnote {
  border: 1px solid #33b5e5;
  color: #fff;
  font-weight: bold;
  background: #33b5e5;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.5rem;
}
.newnote:focus {
  outline: none;
  cursor: pointer;
}
i {
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.mynote {
  padding: 1rem;
  margin: 0.6rem;
  background-color: yellow;
  box-shadow: yellowgreen 1px 3px 5px;
  border-radius: 10px;
  max-width: 90vw;
  width: fit-content;
}
.mynotes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.srchbar {
  margin: 1rem;
}
.headernote {
  background-color: rgb(255, 255, 82);
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding: 0.5rem;
  align-items: center;
}
.mynote-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mynote-title {
  margin-right: 1rem;
  overflow-wrap: break-word;
  max-width: 80vw;
  min-width: 100px;
  font-family: "Caveat", cursive;
}
.mynote-title:focus {
  outline: none;
}
.mynote-body {
  padding: 2%;
  overflow-wrap: break-word;
  font-family: "Caveat", cursive;
}
.mynote-body:focus {
  outline: none;
}
.mynote-date {
  padding: 0;
  margin-left: 1rem;
  overflow-wrap: break-word;
  font-family: "Caveat", cursive;
}
.mynote-url {
  padding: 0;
  overflow-wrap: break-word;
  font-family: "Caveat", cursive;
  color: blue;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
}

.pinned {
  color: red;
}
.mynote-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}
.searchin {
  width: 50rem;
  padding: 1rem;
  font-size: 1.2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 10px;
}

.note-image {
  object-fit: contain;
  max-width: 80vw;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.searchin:focus {
  outline: none;
}
